/*=====================
    common scss
======================*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
}
ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.clr {
  clear: both;
}

p {
  margin: 0;
}
.fw-bold {
  font-weight: 700 !important;
}
.clr {
  clear: both;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
section {
  width: 100% !important;
}
.justify-content-end {
  justify-content: end;
}
// common class scss//

.container {
  height: 100%;
  width: 1320px;
  margin-right: auto;
  margin-left: auto;
}
.desktop-none {
  display: none;
}

// pricing table part scss //
#pricing {
  padding-top: 180px;
  padding-bottom: 50px;
  background: #f9f9fb;

  .pricing-content {
    position: relative;
    .choose-plan {
      margin-bottom: 50px;
      h3 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
        span {
          color: #5337c8;
        }
      }
      .toggle-btn {
        display: flex;
        align-items: center;
        span {
          margin: 0 10px;
          font-weight: 700;
        }
        input[type="checkbox"] {
          height: 0;
          width: 0;
          visibility: hidden;
        }
        label {
          cursor: pointer;
          text-indent: -9999px;
          width: 50px;
          height: 26px;
          background: #5337c8;
          display: block;
          border-radius: 100px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: 4px;
            left: 5px;
            width: 18px;
            height: 18px;
            background: #ffffff;
            border-radius: 90px;
            transition: 0.3s;
          }
        }
        input:checked + label {
          background: #5337c8;
        }
        input:checked + label:after {
          left: calc(100% - 5px);
          transform: translateX(-100%);
        }
        label:active:after {
          width: 30px;
        }
      }
    }
    .pricing-item {
      background: #ffffff;
      padding: 10px 30px;
      margin-bottom: 10px;
      border-radius: 20px;
      h5 {
        font-size: 16px;
        font-weight: 700;
        color: #5337c8;
      }
      ul {
        margin-top: 10px;
        li {
          padding: 5px 0;
        }
      }
    }
    .price-table {
      top: -73px;
      right: 0;
      width: 80%;
      position: absolute;
      .price-table-plan {
        padding: 30px 0;
        text-align: center;
        position: relative;
        border-radius: 20px;
        background: rgba(83, 55, 200, 0.1);
        .preferred {
          top: -15px;
          left: 50%;
          width: 120px;
          height: 30px;
          font-size: 16px;
          font-weight: 700;
          line-height: 30px;
          position: absolute;
          border-radius: 20px;
          background-color: #fefcbf;
          transform: translateX(-50%);
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }

        .plan-table-header {
          .plan-table-header-text {
            h4 {
              color: #5337c8;
              font-size: 20px;
              font-weight: 700;
            }
            h5 {
              font-size: 30px;
              font-weight: 400;
              color: #000000;
              padding: 10px 0;
              sub {
                font-size: 20px;
                margin-left: 5px;
                vertical-align: -1px;
              }
            }
            p {
              color: #818181;
              font-size: 12px;
            }
          }
          .price-btn {
            margin-top: 15px;
            margin-bottom: 60px;
            .btn {
              display: inline-block;
              border: none;
              height: 35px;
              width: 110px;
              border-radius: 15px;
              font-size: 14px;
              color: #ffffff;
              font-weight: 700;
              background: #5337c8;
              line-height: 35px;
            }
          }
        }
        ul {
          margin-bottom: 57px;
          li {
            padding: 7px 0;
            font-size: 14px;
            font-weight: 500;
            .purple-right-mark {
              display: revert;
            }
            .white-right-mark {
              display: none;
            }
          }
        }
        &.preferred-active {
          background: rgba(129, 233, 230, 0.35);
        }
        &:hover,
        &.active {
          background-color: #5337c8;
          .plan-table-header-text {
            h4 {
              color: #ffffff;
            }
            h5 {
              color: #ffffff;
            }
            p {
              color: #ffffff;
            }
          }
          ul {
            color: #ffffff;
            li {
              .close-icon {
                filter: invert(100%);
              }
              .purple-right-mark {
                display: none;
              }
              .white-right-mark {
                display: revert;
              }
            }
          }
          .btn {
            color: #5337c8 !important;
            background-color: #ffffff !important;
          }
        }
      }
    }
  }
  .enterprise {
    top: -72px;
    padding: 30px 0;
    position: relative;
    border-radius: 20px;
    text-align: center;
    background-color: #5337c8;
    .plan-table-header-text {
      h4 {
        font-size: 20px;
        color: #ffffff;
        font-weight: 700;
        margin-bottom: 20px;
      }
    }
    .customize-text {
      font-weight: 400;
      color: #ffffff;
      font-size: 16px;
      margin-bottom: 20px;
      line-height: 24px;
    }
    .contact-btn {
      a {
        height: 35px;
        color: #5337c8;
        font-size: 14px;
        font-weight: 700;
        line-height: 35px;
        padding: 0 20px;
        margin-bottom: 70px;
        border-radius: 15px;
        display: inline-block;
        background-color: #ffffff;
      }
    }

    .quize {
      p {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 77px;
        line-height: 24px;
      }
    }
    p {
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 55px;
      line-height: 24px;
    }
    h5 {
      color: #ffffff;
      font-size: 14px;
      font-weight: 600;
      padding-top: 5px;
      margin-bottom: 5px;
    }
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.pl-0 {
  padding-left: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pt-2 {
  padding-top: 5px;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-23px {
  margin-bottom: 23px !important;
}
.mb-40px {
  margin-bottom: 33px;
}
.m-auto {
  margin: auto;
}
.col-lg {
  flex: 1 0 0%;
}

.col-lg-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-lg-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-lg-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-lg-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-lg-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-lg-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-lg-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-lg-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-lg-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-lg-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-lg-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-lg-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-lg-12 {
  flex: 0 0 auto;
  width: 100%;
}
.offset-lg-1 {
  margin-left: 8.33333333%;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 320px) {
  .container {
    max-width: 300px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 574px) {
  .row-align-center {
    align-items: end;
  }
  .d-none {
    display: none;
  }
  .mobile-block {
    display: block !important;
  }

  // pricing page scss start //
  #pricing {
    .pricing-content {
      .choose-plan {
        text-align: center;
        .toggle-btn {
          justify-content: center;
        }
      }
      .price-table {
        width: 100%;
        position: static;
        .price-table-plan {
          padding: 20px;
          margin-bottom: 30px;
          .plan-table-header {
            display: flex;
            align-items: center;
            padding-bottom: 15px;
            justify-content: space-between;
            border-bottom: 1px solid #5337c8;
            .plan-table-header-text {
              h4 {
                padding: 0;
                text-align: left;
              }
              h5 {
                padding: 0;
                span {
                  color: #818181;
                  font-size: 12px;
                }
              }
            }
            .price-btn {
              margin: 0;
            }
          }
          ul {
            margin: 15px 0;
            text-align: left;
            h6 {
              color: #5337c8;
              font-size: 14px;
              margin-bottom: 8px;
            }
            li {
              display: flex;
              align-items: center;
              span {
                margin-left: 10px;
              }
              &.off-services {
                color: rgba(0, 0, 0, 0.2);
              }
            }
          }
          &:hover,
          &.active {
            background-color: #5337c8;
            .plan-table-header {
              border-color: #ffffff;
              .plan-table-header-text {
                h5 {
                  color: #ffffff;
                  span {
                    color: #ffffff;
                  }
                }
              }
            }
            ul {
              color: #ffffff;
              h6 {
                color: #ffffff;
              }
              li {
                &.off-services {
                  span {
                    color: rgba(255, 255, 255, 0.3);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #pricing .enterprise {
    position: static;
  }

  .order-1 {
    order: 1 !important;
  }

  .order-2 {
    order: 2 !important;
  }
  .offset-lg-1 {
    margin-left: 0;
  }
  .col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
// @media (min-width: 381px) and (max-width: 767.98px) {
// }
@media (min-width: 575px) and (max-width: 767.98px) {
  .row-align-center {
    align-items: end;
  }
  .d-none {
    display: none;
  }
  .mobile-block {
    display: block !important;
  }

  #pricing .enterprise {
    position: static;
  }

  // pricing page scss start //
  #pricing .pricing-content .choose-plan {
    text-align: center;
  }
  #pricing .pricing-content .choose-plan .toggle-btn {
    justify-content: center;
  }
  #pricing {
    .pricing-content {
      .choose-plan {
        text-align: center;
        .toggle-btn {
          justify-content: center;
        }
      }
      .price-table {
        width: 100%;
        position: static;
        .price-table-plan {
          padding: 20px;
          margin-bottom: 30px;
          .plan-table-header {
            display: flex;
            align-items: center;
            padding-bottom: 15px;
            justify-content: space-between;
            border-bottom: 1px solid #5337c8;
            .plan-table-header-text {
              h4 {
                padding: 0;
                text-align: left;
              }
              h5 {
                padding: 0;
                span {
                  color: #818181;
                  font-size: 12px;
                }
              }
            }
            .price-btn {
              margin: 0;
            }
          }
          ul {
            margin: 15px 0;
            text-align: left;
            h6 {
              color: #5337c8;
              font-size: 14px;
              margin-bottom: 8px;
            }
            li {
              display: flex;
              align-items: center;
              span {
                margin-left: 10px;
              }
              &.off-services {
                color: rgba(0, 0, 0, 0.2);
              }
            }
          }
          &:hover,
          &.active {
            background-color: #5337c8;
            .plan-table-header-text {
              h5 {
                color: #ffffff;
                span {
                  color: #ffffff;
                }
              }
            }
            ul {
              color: #ffffff;
              h6 {
                color: #ffffff;
              }
              li {
                &.off-services {
                  span {
                    color: rgba(255, 255, 255, 0.3);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #pricing .enterprise {
    position: static;
  }

  .order-1 {
    order: 1 !important;
  }

  .order-2 {
    order: 2 !important;
  }
  .offset-lg-1 {
    margin-left: 0;
  }
  .col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  #pricing .pricing-content .price-table {
    width: 75%;
  }
  #pricing .pricing-content .choose-plan h3 {
    font-size: 20px;
  }
  #pricing .pricing-content .choose-plan .toggle-btn span {
    font-size: 12px;
  }
  #pricing .pricing-content .price-table .price-table-plan .plan-table-header .price-btn .btn {
    height: 28px;
    width: 90px;
    font-size: 11px;
    line-height: 28px;
  }
  #pricing .pricing-content .price-table .price-table-plan .plan-table-header .plan-table-header-text h4 {
    font-size: 14px;
  }
  #pricing .pricing-content .pricing-item ul li {
    font-size: 12px;
  }
  #pricing .pricing-content .price-table .price-table-plan .preferred {
    top: -13px;
    width: 80px;
    height: 25px;
    font-size: 12px;
    line-height: 25px;
  }
  #pricing .pricing-content .pricing-item h5 {
    font-size: 14px;
  }
  #pricing .pricing-content .price-table .price-table-plan ul {
    margin-bottom: 51px;
  }
  #pricing .pricing-content .pricing-item ul {
    margin-top: 7px;
  }
  #pricing .pricing-content .price-table .price-table-plan ul li {
    padding: 5px 0;
    font-size: 12px;
  }
  #pricing .enterprise .plan-table-header-text h4 {
    font-size: 14px;
  }
  #pricing .enterprise .customize-text {
    font-size: 13px;
  }
  #pricing .enterprise h4 {
    font-size: 13px;
    margin-bottom: 40px;
  }
  #pricing .enterprise .quize p {
    font-size: 13px;
    margin-bottom: 53px;
  }
  #pricing .enterprise h5 {
    font-size: 12px;
  }
  #pricing .enterprise p {
    font-size: 12px;
    margin-bottom: 55px;
  }
  #pricing .enterprise .contact-btn a {
    font-size: 11px;
    margin-bottom: 30px;
  }

  .col-md {
    flex: 1 0 0%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-1 {
    margin: 10px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .d-lg-none {
    display: none;
  }
  .row-align-center {
    align-items: end;
  }

  #pricing .pricing-content .price-table {
    width: 75%;
  }
  #pricing .pricing-content .price-table .price-table-plan ul li {
    padding: 6px 0;
  }
  #pricing .pricing-content .choose-plan h3 {
    font-size: 25px;
  }
  #pricing .pricing-content .price-table .price-table-plan ul {
    margin-bottom: 65px;
  }
  #pricing .enterprise .quize p {
    margin-bottom: 63px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399px) {
  // pricing page scss/
  #pricing .pricing-content .price-table {
    width: 77%;
  }
  #pricing .pricing-content .price-table .price-table-plan ul {
    margin-bottom: 57px;
    padding-top: 5px;
  }
  #pricing .pricing-content .price-table .price-table-plan ul li {
    padding: 6px 0;
  }
  #pricing .enterprise .quize p {
    margin-bottom: 70px;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  #webs-tabs .container .tabs-content .tabs-text {
    top: 40%;
    left: 0;
  }
}
